<h1>New Entry for <%= @place.name %></h1>
<%= form_with model: [@place, @entry], local: true do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :date %>
  <%= form.date_select :date %>

  <%= form.submit "Create Entry" %>
<% end %>